
.container{

    width:inherit;
    border-bottom:2px  solid orange;
    display: flex;
    justify-content: space-between;
    /* box-shadow: 2px 2px 2px #888888; */
}
button{
    background-color: inherit;
    border: none;
    text-align: center;
    outline: none;
}
button :hover{
    cursor: pointer;
    outline: none;
    border-bottom: 1px solid blue;
    
}